<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.onrpiv.uploadmedia">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/> <!-- IMEI-->
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.QUERIES"/>

    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front.autofocus" android:required="false"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Experiment.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Learn.Experiment1"/>
        <activity android:name=".Learn.FluidGlossary"/>
        <activity android:name=".Learn.LaserSafetyLayout"/>
        <activity android:name=".Learn.LearnImagingLayout"/>
        <activity android:name=".Learn.PIVBasicsLayout"/>
        <activity android:name=".Learn.PIVBasics1"/>
        <activity android:name=".Learn.PIVBasics2"/>
        <activity android:name=".Learn.PIVBasics3"/>
        <activity android:name=".Learn.PIVBasics4"/>
        <activity android:name=".Learn.PIVBasics5"/>
        <activity android:name=".Learn.Imaging1"/>
        <activity android:name=".Learn.Imaging2"/>
        <activity android:name=".Learn.Imaging3"/>
        <activity android:name=".Learn.Imaging4"/>
        <activity android:name=".Learn.Imaging5"/>
        <activity android:name=".Learn.Imaging6"/>
        <activity android:name=".Learn.Imaging7"/>
        <activity android:name=".Learn.Imaging8"/>
        <activity android:name=".Learn.Imaging9"/>
        <activity android:name=".Learn.Laser1"/>
        <activity android:name=".Learn.Laser2"/>
        <activity android:name=".Learn.Laser3"/>
        <activity android:name=".Learn.Pos1_Activity"/>
        <activity android:name=".Learn.Pos2_Activity"/>
        <activity android:name=".Learn.Pos3_Activity"/>
        <activity android:name=".Learn.Pos4_Activity"/>
        <activity android:name=".Learn.Pos5_Activity"/>
        <activity android:name=".Learn.Pos6_Activity"/>
        <activity android:name=".Learn.Pos7_Activity"/>
        <activity android:name=".Learn.Pos8_Activity"/>
        <activity android:name=".Learn.Pos9_Activity"/>
        <activity android:name=".Learn.Pos10_Activity"/>
        <activity android:name=".Learn.Pos11_Activity"/>
        <activity android:name=".Learn.Pos12_Activity"/>
        <activity android:name=".Learn.Pos13_Activity"/>
        <activity android:name=".Learn.Pos14_Activity"/>
        <activity android:name=".Learn.Pos15_Activity"/>
        <activity android:name=".Learn.TryExperiments"/>
        <activity android:name=".Learn.LearnFluids"/>
        <activity android:name=".Learn.LearnPIV"/>
        <activity android:name=".Experiment.ImageActivity"/>
        <activity android:name=".Learn.VideoTutorial"/>
        <activity android:name=".Experiment.VideoActivity"/>
        <activity android:name=".Experiment.ViewResultsActivity"/>
        <activity android:name=".Experiment.ViewPagerActivity"/>
        <activity android:name=".Experiment.MainActivity"/>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>