<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.onrpiv.uploadmedia">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front.autofocus" android:required="false"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true"
        android:largeHeap="true">

        <uses-library android:name="android.test.runner" />
        <uses-library android:name="android.test.base" />
        <uses-library android:name="android.test.mock" />

        <activity android:name=".Experiment.HomeActivity"
            android:exported="true"
            android:label="mI-PIV Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Learn.Experiment1" android:label="Try These Experiments"/>
        <activity android:name=".Learn.Experiment2" android:label="Try These Experiments"/>
        <activity android:name=".Learn.Experiment3" android:label="Try These Experiments"/>
        <activity android:name=".Learn.Experiment4" android:label="Try These Experiments"/>
        <activity android:name=".Learn.Experiment5" android:label="Try These Experiments"/>
        <activity android:name=".Learn.Experiment6" android:label="Try These Experiments"/>
        <activity android:name=".Learn.Experiment7" android:label="Try These Experiments"/>
        <activity android:name=".Learn.FluidGlossary" android:label="Fluids Glossary"/>
        <activity android:name=".Learn.LaserSafetyLayout" android:label="Laser Safety"/>
        <activity android:name=".Learn.LearnImagingLayout" android:label="Learn About Imaging"/>
        <activity android:name=".Learn.PIVBasicsLayout" android:label="PIV Basics"/>
        <activity android:name=".Learn.PIVBasics1" android:label="PIV Basics"/>
        <activity android:name=".Learn.PIVBasics2" android:label="PIV Basics"/>
        <activity android:name=".Learn.PIVBasics3" android:label="PIV Basics"/>
        <activity android:name=".Learn.PIVBasics4" android:label="PIV Basics"/>
        <activity android:name=".Learn.PIVBasics5" android:label="PIV Basics"/>
        <activity android:name=".Learn.Imaging1" android:label="Learn About Imaging"/>
        <activity android:name=".Learn.Imaging2" android:label="Learn About Imaging"/>
        <activity android:name=".Learn.Imaging3" android:label="Learn About Imaging"/>
        <activity android:name=".Learn.Imaging4" android:label="Learn About Imaging"/>
        <activity android:name=".Learn.Imaging5" android:label="Learn About Imaging"/>
        <activity android:name=".Learn.Imaging6" android:label="Learn About Imaging"/>
        <activity android:name=".Learn.Imaging7" android:label="Learn About Imaging"/>
        <activity android:name=".Learn.Imaging8" android:label="Learn About Imaging"/>
        <activity android:name=".Learn.Imaging9" android:label="Learn About Imaging"/>
        <activity android:name=".Learn.Laser1" android:label="Laser Safety"/>
        <activity android:name=".Learn.Laser2" android:label="Laser Safety"/>
        <activity android:name=".Learn.Laser3" android:label="Laser Safety"/>
        <activity android:name=".Learn.Pos1_Activity" android:label="Fluids Glossary"/>
        <activity android:name=".Learn.Pos2_Activity" android:label="Fluids Glossary"/>
        <activity android:name=".Learn.Pos3_Activity" android:label="Fluids Glossary"/>
        <activity android:name=".Learn.Pos4_Activity" android:label="Fluids Glossary"/>
        <activity android:name=".Learn.Pos5_Activity" android:label="Fluids Glossary"/>
        <activity android:name=".Learn.Pos6_Activity" android:label="Fluids Glossary"/>
        <activity android:name=".Learn.Pos7_Activity" android:label="Fluids Glossary"/>
        <activity android:name=".Learn.Pos8_Activity" android:label="Fluids Glossary"/>
        <activity android:name=".Learn.Pos9_Activity" android:label="Fluids Glossary"/>
        <activity android:name=".Learn.Pos10_Activity" android:label="Fluids Glossary"/>
        <activity android:name=".Learn.Pos11_Activity" android:label="Fluids Glossary"/>
        <activity android:name=".Learn.Pos12_Activity" android:label="Fluids Glossary"/>
        <activity android:name=".Learn.Pos13_Activity" android:label="Fluids Glossary"/>
        <activity android:name=".Learn.Pos14_Activity" android:label="Fluids Glossary"/>
        <activity android:name=".Learn.Pos15_Activity" android:label="Fluids Glossary"/>
        <activity android:name=".Learn.TryExperiments" android:label="Try These Experiments"/>
        <activity android:name=".Learn.LearnFluids" android:label="Learn About Fluids"/>
        <activity android:name=".Learn.LearnPIV" android:label="Learn About PIV"/>
        <activity android:name=".Experiment.ImageActivity" android:label="Experiment"/>
        <activity android:name=".Learn.VideoTutorial" android:label="Video Tutorial"/>
        <activity android:name=".Experiment.VideoActivity" android:label="Experiment"/>
        <activity android:name=".Experiment.ViewResultsActivity" android:label="Experiment"/>
        <activity android:name=".Experiment.ViewPagerActivity" android:label="Experiment"/>
        <activity android:name=".Experiment.MainActivity" android:label="Experiment"/>
        <activity android:name=".Experiment.CalibrationActivity" android:label="Experiment"/>
        <activity android:name=".Experiment.CalibrationInputActivity" android:label="Experiment"/>
        <activity android:name=".Experiment.Account" android:label="User Settings"/>
        <activity android:name=".Experiment.ViewMultipleResultsActivity" android:label="Experiment"/>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>